.array-container {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
}

.array-bar {
    align-items: bottom;
    width: 2px;
    background-color: grey;
    display: inline-block;
    margin: 0 1px;
}
.button-container {
    align-items: bottom;
}